@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html {
    @apply h-full;
}

body {
    @apply h-full;
}

#__next {
    display: flex;
    flex-direction: column;
    @apply h-full;
}

main {
    height: auto;
    min-height: calc(100% - 124px);
}

.navigation-button {
    @apply py-2;
    @apply px-4;
}

.navigation-button:hover {
    @apply text-sky-400;
    @apply border-b-2;
    @apply border-sky-500;
    @apply bg-slate-700;
    @apply rounded-sm;
}

.active-nav-btn {
    @apply text-sky-400;
    @apply border-b-2;
    @apply border-sky-500;
    @apply bg-slate-700;
    @apply rounded-sm;
}
